<h1>Nuestros profesionales</h1>
<br>
<div class="container">
    <h3>Área ...</h3>
    <div>
        <div>
            <img src="" alt="">
            <h5>Nombre</h5>
            <p>Especialidad</p>
        </div>
        <br>
        <div>
            <img src="" alt="">
            <h5>Nombre</h5>
            <p>Especialidad</p>
        </div>
    </div>
    <br>
    <h3>Área Psicología</h3>
    <div>
        <img src="" alt="">
        <h5>Nombre</h5>
        <p>Especialidad</p>
    </div>
</div>