<header>
    <div class="container">
        <nav class="nav-main">
            <img src="../../../assets/img/Captura de pantalla 2022-06-14 012517.png" alt="Centro Logo" class="nav-brand">
            <ul class="nav-menu">
                <li>
                    <a href="#">Inicio</a>
                    <!--https://centromedicocubanovinadelmar.cl/-->
                </li>
                <li>
                    <a [routerLink]="['profesionales']">Profesionales</a>
                </li>
                <!--<li>
                    <a href="#">Informacion de Exámenes</a>
                </li>
                <li>
                    <a href="">Reclamos</a>
                </li>-->
            </ul>
            <ul class="nav-menu-iniciosesion">
                <li>
                    <a [routerLink]="['inicio']">Exámenes</a>
                </li>
                <li>
                    <a [routerLink]="['registro']">Registro</a>
                </li>
            </ul>
        </nav>
        <hr>
    </div>
</header>