<br>
<br>
<h1>Informacion general para el paciente</h1>
<br>
<br>
<h3>Reserva de Horas</h3>
<p>En la página principal estará la opción de reservar sus horas médicas.</p>
<p>Un día antes de la consulta, le llegará un mensaje por correo para confirmar la cita médica.</p>
<br>
<br>
<h3>Exámenes</h3>
<p>Para revisar los resultados de sus exámenes tendrá que ingresar con su rut en la página principal.</p>
<p>Como paciente podrá observar tanto el resultado de sus exámenes como una lista de sus consultas en el centro.</p>
<br>
<br>
<h3>Contacto</h3>
<p>En la parte inferior de la página principal del sitio web se encontrarán tres formas para comunicarse con el centro médico:</p>
<p>La primera son los números telefónicos donde podrá reservar sus horas médicas o cancelar sus hora médicas.</p>
<p>La segunda es la ubicación del centro médico, dónde podra asistir de forma presencial para su atención con los profesionales del lugar.</p>
<p>Y el último es por medio de un correo electrónico.</p>
<br>
<br>